* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2E7D32;
}

.navbar {
    background-color: #797979;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;  
    text-align: center;

}

.menu span {
    margin-left: 10px;
    cursor: pointer;
}

.dashboard-container {
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 790px;
    margin: 0 auto;
}

.grid-item {
    aspect-ratio: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.icon-box {
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.icon-box i {
    font-size: 30px;
    color: #2E7D32;
    margin-bottom: 15px;
    text-decoration: none;
}

.icon-box p {
    color: #2E7D32;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.logout-btn {
    background-color: #041fa8;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #d91b1b;
}

.logout-btn i {
    font-size: 10px;
    margin-right: 6px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.menu {
    margin-left: auto;
}

